@using System.Runtime.InteropServices;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
        @if(RuntimeInformation.IsOSPlatform(OSPlatform.Windows)){
            <img src="~/images/Calico-Windows-K8s.png"  style="width:15%;display: block;margin-left: auto;margin-right: auto;">
        }else{
            <img src="~/images/Calico-Cat-Tigera-Shirt.png" style="width:15%;display: block;margin-left: auto;margin-right: auto;">
        }
        </div>
    </div>
    <div class="row">
        <div class="col-5" id="checker"></div>
        <div class="col"><button class="btn btn-primary"><i class="bi bi-arrow-clockwise">Try again</i></button></div>
    </div>
    <div class="row">
        <p>check out our free <a href="https://academy.tigera.io">certification</a> courses</p>
    </div>
</div>

@section Scripts {
    <script>
        $( document ).ready(function() {
            $("button").on("click", function(){
                $("button").attr("disabled","disabled");
                crawl();
            } );
            function crawl() {
                $("#checker").html('<i>Attempting ...</i>.');
                var jqxhr = $.get( "Crawler", function(data) {
                    switch(data) {
                    case "200":
                        $("#checker").html('<i class="bi bi-arrow-up-circle-fill" style="color:green;"></i> Container can reach the Internet.');
                        break;
                    case "499":
                        $("#checker").html('<i class="bi bi-arrow-down-circle" style="color:red;"></i> Container cannot reach the Internet.');
                        break;
                    default:
                        $("#checker").html('<i>Container problems, you know how it is. Please try again.</i>');
                    }
                })
                .fail(function() {
                        $("#checker").html('<i class="bi bi-arrow-down-circle" style="color:red;"></i> Container cannot reach the Internet.');
                })
                .always(function(){
                    $("button").removeAttr("disabled","disabled");
                });
            };
            crawl();
        });
    </script>
}
